@charset "UTF-8";

@media screen and (min-width: 630px) and (max-width: 1000px) {

    header{
        min-height: 5vh;
        max-height: 40vh;
    }

    nav{
        display: flex;
        flex-flow: nowrap;
        justify-content: flex-start;
    }

    a{
        flex: 0 0 100px;
        border-radius: 3px;
    }
}

@media screen and (min-width: 1000px){
    header{
        min-height: 5vh;
        max-height: 40vh;
    }

    nav{
        display: flex;
        flex-flow: nowrap;
        justify-content: flex-end;
    }

    a{
        flex: 0 0 100px;
        border-radius: 3px;
    }
}
