@charset "UTF-8";

@media screen and (min-width: 768px) {
 
    html,body{
        background-image: linear-gradient(to top, rgb(0, 0, 20), rgb(4, 132, 252));
    }

    p{
        text-align: justify;
        text-indent: 15px;
        padding-left:360px;
    }


    form{
        float: right;
        display: block;
        width: 340px;
    }

    input{
        width: 70%;
    }

    #ien{width: 300px;}
    #ire{width: 300px;}

    main{
        width: 700px;
        height: 300px;
    }
    
    #img{
        float: left;
        width: 50%;
        height: 100%;
    }

}
